<subscriptions>
	<!--
	<course>
		<title>Produktion [V] (HWS 2019)</title>
		<subfolder path="C:\Users\User\Desktop\Produktion\Vorlesung">Vorlesung</subfolder>
		<subfolder path="C:\Users\User\Desktop\Produktion\Tutorium">Tutorium</subfolder>
	</course> 
	<course>
		<title>Internes Rechnungswesen [V] (FSS 2019)</title>
		<subfolder path="C:\Users\User\Desktop\Internes\Vorlesung">1_Vorlesung</subfolder>
	</course>
	-->
</subscriptions>